@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.clearfix
{
    clear: both;
}

tr#row-main:hover
{
    background: #EAEAEA;
    cursor: pointer;
}

td, th
{
    vertical-align: middle !important;
}

.pagination > li,
.pagination > li > a,
.pagination > li > span {
    color: #3AA9A5;
}

.page-item.active .page-link
{
    background: #3AA9A5 !important;
    border: 1px solid #3AA9A5;
}

.infile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.infile-label {
    margin-top: 7px;
    font-size: 14px;
    padding: 9px 24px;
    color: #7E8387;
    border-radius: 5px;
    background-color: #F5F5F5;
    display: inline-block;
}

.infile-label i {
    margin-left: 12px;
}

.infile:focus+.infile-label:focus,
.infile-label:hover {
    cursor: pointer;
}

.greylight-bg,
input.greylight-bg:focus,
textarea.greylight-bg:focus,
select.greylight-bg:focus,
option.greylight-bg:focus
{
    background: #F9F9F9;
}

.breadcrumb
{
    background: #E5F3F3 !important;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.btn-eye
{
    position: absolute;
    right: 12px;
    top: 38.5px;
    background: transparent;
    border: none;
    outline: none !important;
}

.btn-info
{
    background: #FAFAFA!important;
    border: none;
}

i,
span {
    display: inline-block;
}

.swal2-modal
{
    border-radius: 18px !important;
    padding: 20px 30px !important;
}

.swal2-close
{
    outline: none !important;
    margin-right: 5px;
}

.dropdown-detail
{
    position: absolute;
    top: 22px !important;
    right: 56px !important;
    display: none;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
}

.tail-select
{
    width: 100% !important;
}

.tail-select-container
{
    border: none !important; 
    border-radius: 8px !important; 
    background: #F9F9F9 !important;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.1) !important;
}

.select-handle
{
    background: #1A9B96 !important;
}


label.check-wrapper {
    font-size: 16px;
    padding-top: 0.6px;
    padding-left: 40px;
    color: #7E8387;
    font-weight: normal;
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
    display: none;
}

.check-wrapper {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    background: #F5F5F5;
    border-radius: 7px !important;
    height: 25px;
    width: 25px;
}

.check-wrapper:hover input~.checkmark {
    background-color: #ccc;
}

.check-wrapper input:checked~.checkmark {
    background-color: #0E9D4B;
    border: 1.3px solid #0E9D4B;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-wrapper input:checked~.checkmark:after {
    display: block;
}

.check-wrapper .checkmark:after {
    left: 9px;
    top: 5.5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#item-history
{
    background: #FFFFFF !important;
    border-radius: 10px; 
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 15px; 
    padding-bottom: 25px; 
    box-shadow: 1px 2px 14px rgba(0,0,0,0.1);
    transition: .5s;
}

#item-history:hover
{
    background: rgba(0,0,0,0.01) !important;
    cursor: pointer;
}

/* ---------------------------------------------------
    Navbar
----------------------------------------------------- */

.dropdown-navbar
{
    position: absolute;
    right: 5px;
    top: 35px;
    display: none;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
}

.dropdown-navbar > ul > a > li > i,
.dropdown-navbar > ul > li > button > i
{
    color: #008A85;
}

.dropdown-navbar > ul > a > li:hover i,
.dropdown-navbar > ul > li > button:hover > i
{
    color: white !important;
}

.dropdown-navbar > ul > a > li:hover,
.dropdown-navbar > ul > li > button:hover
{
    color: white !important;
    background: #1A9B96;
    border-bottom: 1px solid #1A9B96;
}

.dropdown-navbar > ul > a > li > i,
.dropdown-navbar > ul > li > button > i
{
    transition: 0.5s;
}

.dropdown-navbar > ul > a > li,
.dropdown-navbar > ul > li > button
{
    background: #FFFFFF;
    transition: 0.5s;
    border: none;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    padding-left: 18px;
    padding-right: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    list-style: none;
}

.ubah-profil-btn:hover
{
    cursor: pointer;
    background: #008A85 !important;
}

#main-content
{
    padding-top: 105px !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #1A9B96;
    color: #fff;
    min-height: 100% !important;
    transition: all 0.3s;
    position: fixed;
    z-index: 999;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #008A85;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.38em;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #1A9B96;
    background: #fff;
}

#sidebar ul li a i {
    margin: 0px 10px;
    margin-right: 15px;
    font-size: 18px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #008A85;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content-section {
    width: 100%;
    margin-left: 250px;
    position: relative;
    min-height: 100vh;
    transition: all 0.3s;
    padding-bottom: 80px;
}

#main-content
{
    padding: 25px;
}

#content
{
    background: #F7F7F7;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1127px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    .navbar.top
    {
        left: 0px !important;
    }

    #content-section {
        width: 100%;
        margin-left: 0px;
        position: relative;
        min-height: 100vh;
        transition: all 0.3s;
        padding-bottom: 80px;
    }

    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #biodata-section{
        display: none;
    }
}